//out:../css/resistencia.css
.negro
  fill rgb(0, 0, 0)
.cafe
  fill rgb(135, 28, 0)
.rojo
  fill rgb(233, 0, 0)
.naranja
  fill rgb(233, 105, 0)
.amarillo
  fill rgb(233, 224, 0)
.verde
  fill rgb(82, 233, 0)
.morado
  fill rgb(145, 0, 233)
.violeta
  fill rgb(233, 0, 203)
.gris
  fill rgb(97, 97, 97)
.blanco
  fill rgb(255, 255, 255)
.plata
  fill rgb(184, 184, 184)
.oro
  fill rgb(236, 241, 5)

.respuestas
  margin-top 5em
  span
    font-size 1.5em
.cajita
  width 50%
  margin auto

.boton
  margin-top 3em

.svg2
  margin auto
  width 50%
.svg
  width 100%
  margin auto

.puntaje
  &__caja
    text-align center
    font-size 5em
    &--ganaste
      color green
    &--perdiste
      color rgb(185, 0, 0)

.selecciona
  text-align center
